.cascader-editor{
  width: 100%;
  height: 38px;
  display: block;

  .ant-select-selector{
    .ant-select-selection-search{
      height: 38px;
    }

    .ant-select-selection-item{
      height: inherit;
      line-height: 38px;
      font-size: 12px;
    }

    border: none !important;
    background: transparent !important;
    box-shadow: none !important;
    color: #292c33;
    padding:0 !important; 

    input{
      height: 18px !important;
    }
  }

  .ant-cascader-menu {
    font-size: 12px;
  }

}
